@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f7fa;
}

header {
    background-color: #0d1949;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 30px 0;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
}


header nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3498db;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}


footer {
    background-color: #0d1949;
    color: white;
    padding: 20px 0;
    text-align: center;
}