.weather-section {
    background-color: #FBEAEB;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.weather-container {
    min-width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    /* gap: 20px; */
    flex-direction: column;
}

.weather-container h2 {
    margin-bottom: 40px;
    font-size: 36px;
    
}

.city-container {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    color: white;
}

.tokyo-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://wallpapers.com/images/featured/tokyo-dxva6ho3h8x6m3xb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(5px);
}

.city-info {
    position: relative;
    z-index: 2;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.6);
    border-radius: 10px;
    min-width: 40%;
    min-height: 60%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.temperature h3 {
    font-size: 24px;
}

.temperature p {
    font-size: 32px;
    font-weight: 900;
}

.weather {
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: 300;
}


.paris-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.unsplash.com/photo-1526821799652-2dc51675628e?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fHw%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(5px);
}


.gjovik-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c1/Gj%C3%B8vik_sentrum_sett_fra_Hovdetoppen.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(5px);
}

.london-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://wallpapercat.com/w/full/3/2/3/292640-2880x1800-desktop-hd-london-wallpaper-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(5px);
}

.newyork-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://images.pexels.com/photos/597909/pexels-photo-597909.jpeg?cs=srgb&dl=pexels-kaip-597909.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(5px);
}

.oslo-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://plus.unsplash.com/premium_photo-1697729977121-26f13fd5434c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8b3Nsb3xlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    filter: blur(5px);
}
